body::before {
  content: "";
  /*background-image: url("../images/image-task.webp");*/
  background-color: white;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 30px;
}

/* NAV FOR DESKTOP VIEW */
.nav {
  width: 15%;
  background-color: #fff;
  border-right: 1px solid #cbd5e1;
  height: 100%;
  box-sizing:border-box;
  padding: 0;
  top: 0;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  left: 0;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.nav {
  --sb-track-color: #232E33;
  --sb-thumb-color: #cbd5e1;
  --sb-size: 1px;
}

.nav::-webkit-scrollbar {
  width: var(--sb-size)
}

.nav::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 22px;
}

.nav::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 22px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .nav {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

svg {
  height: 40px;
  width: 40px;
}

.nav > :first-child > h2 {
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding: 0;
  color: black;
  margin: 0;
  text-transform: capitalize;
}
.nav > :first-child {
  display: flex;
  position: sticky;
  top: 0;
  gap: 5px;
  backdrop-filter: blur(3px);
  align-items: center;
  padding: 30px 10px 0 10px;
}
#list-drop, #tag-drop {
  font-size: 1rem;
  font-weight: bolder;
  color: black;
  display: flex;
  align-items: center;
  color: black;
  width: 80%;
  justify-content: space-between;
}
#list-drop svg, #tag-drop  svg{
  width: 20px;
  height: 20px;
  fill: black;
}
.nav > :nth-child(2), .nav > :nth-child(3) {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}
ul li {
  padding: 10px 0px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  padding-left: 20px;
  align-items: flex-end;
  gap: 12px;
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  cursor: pointer;
  font-style: normal;
}
ul li p {
  margin: 0;
}
ul li svg {
  width: 20px;
  height: 20px;
}
ul li:hover, ul li:focus {
  background-color: #f8fafc;
  border: 1px solid #f8fafc;
  color: #0ea5e9;
  fill: #0ea5e9;
}
#tag-div > ul > :nth-child(2) {
  color: orange;
}

.main {
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  margin-left: 17%;
  height: 90%;
  padding-top: 10px;
}
.main > :first-child {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 90%;
}
.today-first {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 90%;
  width: 70%;
}
.today-first div h2, .today-first div h1 {
  margin: 0;
  padding: 0;
}
.today-first buttton {
  margin: 0;
}
.today-first div h2 {
  color: #cbd5e1;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;

 }
#today-task {
  background-color: white;
  overflow-y: scroll;
}
#today-task iframe {
  border-radius: 10px;
  width: 100%;
}
#today-task, .visible {
  --sb-track-color: #232E33;
  --sb-thumb-color: #cbd5e1;
  --sb-size: 5px;
}

#today-task::-webkit-scrollbar, .visible::-webkit-scrollbar {
  width: var(--sb-size)
}

#today-task::-webkit-scrollbar-track, .visible::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 22px;
}

#today-task::-webkit-scrollbar-thumb, .visible::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 22px;
  
}

@supports not selector(::-webkit-scrollbar) {
  #today-task, .visible {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
#invalid {
  border: 2px dashed red;
}
#valid {
  border: 2px solid #0ea5e9;
}
.today-first button, form button {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  color: #0ea5e9;
  font-size: 1.2rem;
  border: 1px solid #0ea5e9;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-variant: all-petite-caps;
}
#btnYes, #btnNo {
  width: fit-content;
  padding: 10px 20px;
}
.today-first button:hover, #btnYes:hover, #btnNo:hover {
  background-color: #0ea5e9;
  color: white;
  border: 1px solid white;
}
.invisible {
  display: none;
}
.visible {
  display: flex;
  height: -webkit-fill-available;;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 150;
  position: fixed;
  width: -webkit-fill-available;
  justify-content: center;
  backdrop-filter: blur(4px);
}
#add-form form {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 30px 50px;
  background-color: white;
  border: 1px solid #cbd5e1;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
}
#add-form form div {
  display: flex;
  justify-content: space-between;
}
#add-form label {
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}
select, input, textarea {
  width: 45ch;
  padding: 10px 20px;
  appearance:none;
  border: 1px solid #cbd5e1;
  font-family: 'Raleway', sans-serif;
  border-radius: 20px;
}
select:focus, input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #0ea5e9;
}
select {
  width: 50ch;
}
.today-sec, .next-today {
  width: 30%;
  padding-top: 20px;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
  gap: 20px;
  height: 95%;
  align-items: flex-start;
}

.today-sec > div {
  --sb-track-color: #232E33;
  --sb-thumb-color: #cbd5e1;
  --sb-size: 5px;
}
.next-today > div {
  --sb-thumb-color: #232E33;
  --sb-track-color: #cbd5e1;
  --sb-size: 5px;
}

.today-sec > div::-webkit-scrollbar, .next-today > :last-child::-webkit-scrollbar {
  width: var(--sb-size)
}

.today-sec > div::-webkit-scrollbar-track, .next-today > :last-child::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 22px;
}

.today-sec > div::-webkit-scrollbar-thumb, .next-today > :last-child::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 22px;
  
}

@supports not selector(::-webkit-scrollbar) {
  .today-sec > div, .next-today > div {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
.today-sec > h2, .next-today h2 {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}
.today-sec > div, .next-today > :last-child{
  display: flex;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  gap: 10px;
  flex-direction: column;
}
#task-drop, #tab1-list{
  background-color: white;
  border: 1px solid #cbd5e1;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
  height: fit-content;
}
.identify {
  font-size: 0.55rem;
  padding: 0;
  margin: 0;
  text-transform: lowercase;
}
#task-drop h4, #tab1-list h4 {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}
.timer {
  color: #0ea5e9;
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
  font-weight:bolder;
  text-transform: capitalize;
}
.divChild, #tab1-list div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.done {
  text-decoration: line-through;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.svgImage, #tab1-list img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.doneImage {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.p3 {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0.8rem;
}
#active {
  display: flex;
}
#inactive {
  display: none;
}
#present {
  color: #0ea5e9;
  fill: #0ea5e9;
}
#absent {
  color: black;
  fill: black;
}
.current {
  color: #0ea5e9;
  fill: #0ea5e9;
}

.main > :nth-child(2) {
  display: flex;
  width: 100%;
  overflow: none;
  gap: 30px;
}
.main > :nth-child(2) > div {
  border: 1px solid #cbd5e1;
  border-radius: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: white;
}
.main > :nth-child(2) > div {
  height: 350px;
  box-sizing: border-box;
}
.next-today  h4, .next-today  h5 {
  margin: 0;
  padding: 0;
}
#tab1-list {
  border: none;
  padding: 10px;
}


@media only screen and (min-width: 700px) and (max-width: 950px) {
  .main > :first-child {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    margin: 15% 0 0 0;
  }
  .main > :first-child {
    flex-direction: column;
  }
  .nav > :nth-child(2), .nav > :nth-child(3), .nav > :nth-child(4) {
    display: none;
  }
  .today-first, .today-sec {
    width: 100%;
    overflow: hidden;
  }
  .nav {
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #0ea5e9;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
    color: white;
  }
  svg {
    height: 30px;
    width: 30px;
  }
  
  .nav > :first-child > h2 {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 0;
    color: white;
    margin: 0;
    text-transform: capitalize;
  }
  .nav > :first-child svg {
    fill: white;
  }
  .nav > :first-child {
    display: flex;
    position: sticky;
    top: 0;
    gap: 5px;
    backdrop-filter: blur(3px);
    align-items: center;
    padding: 10px;
  }
  .today-first {
    gap: 20px;
  }
}